* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
}
#root {
  width: 100vw;
  height: 100vh;
}
